$brand-blue: hsl(206, 90%, 20%);
$brand-grey: hsl(0, 0%, 50%);
$brand-green: hsl(146, 64%, 61%);
$brand-grey-100: hsl(0, 0%, 96%);

$color-public: $brand-green;
$color-private: $brand-blue;
$color-selected: $brand-grey;
$color-valid: #00a200;
$color-invalid: #ff0000;