@import "../../../assets/scss/variables";

.user {
    padding: 1.0rem 2.5rem 0 1.0rem;
    border-left: 0.5rem solid $brand-blue;
    background-color: $brand-grey-100;
    margin-bottom: 1.0rem;
    border-radius: 0.5rem;

    &--selected {
        border-color: $color-selected;
        border: 5px solid;
    }
    
    &--private {
        border-color: $color-private;
    }
    
    &--public {
        border-color: $color-public;
    }
}