<section class="user" *ngIf="!(isNewEntry() && !(state$ | async)?.selected)"
  [ngClass]="{'user--selected' : (state$ | async)?.selected, 'user--public' : ((status$ | async) === UserStatus.PUBLIC),  'user--private' : ((status$ | async) === UserStatus.PRIVATE)}">
  <user-view *ngIf="(state$ | async)?.viewState === ComponentState.VIEW" [userModel]="userModel" [reversedIndex]="reversedIndex">
  </user-view>
  <user-form *ngIf="(state$ | async)?.viewState === ComponentState.FORM" [userModel]="userModel" (statusChanged)=changeStatus($event)>
  </user-form>
</section>

<!--  -->