.status {
  color: #fff;
  border-radius: 3px;
  text-align: center;
  padding: 5px;
  font-size: 12px;

  &--private {
    background-color: #053b63;
  }
  
  &--public {
    background-color: #5cdb94;
    color: #000;
  }
}