$brand-blue: hsl(206, 90%, 20%);
$brand-grey: hsl(0, 0%, 50%);
$brand-grey-100: hsl(0, 0%, 96%);
$color-public: hsl(146, 64%, 61%);
$color-private: hsl(206, 90%, 20%);
$color-selected: hsl(0, 0%, 50%);