<div class="user-view">
    <header>
      <div>
        <label class="">[{{ reversedIndex }}] firstname</label>
        <strong>{{ (state$ | async).userModel.firstName }}</strong>
      </div>
    
      <div>
        <label>lastname</label>
        <strong data-karma="lastName">{{ (state$ | async).userModel.lastName }}</strong>
      </div>

      <status [state]="(state$ | async).userModel.status"></status>
    </header>

    <main>  
          <label>_id</label>
          <div>{{ (state$ | async).userModel._id }}</div>
        
          <label>telephone number</label>
          <div>{{ (state$ | async).userModel.telephoneNumber }}</div>
        
          <label>created</label>
          <div>{{ (state$ | async).userModel.createdAt | date: 'HH:mm a dd/MM/yyyy' }}</div>
        
          <label>modified</label>
          <div>{{ (state$ | async).userModel.modifiedAt | date: 'HH:mm a dd/MM/yyyy' }}</div>
    </main>

    <footer>
      <button (click)="changeRoute('edit')">edit</button>
      <button (click)="componentStateAction(ComponentState.DELETE)">delete</button>
    </footer>
  </div>