@import "../../../assets/scss/variables";

.feedback-view {

  margin-bottom: 2rem;

  header, main {
  display: grid;
    grid-gap: 0.5rem;
  }

  .message {
    padding: 1.0rem 2.5rem 1.0rem 1.0rem;
    background-color: $brand-grey-100;
    margin-bottom: 1.0rem;
    border-radius: 0.5rem;

    &--success {
        border: 0.5rem solid #ccc;
    }
  }
}