@import "./assets/scss/normalize";
@import "./assets/scss/vendor/angular";

.app-wrapper {
  padding: 2.0rem 1.0rem 1.0rem;
  max-width: 80.0rem;
  margin: 0 auto;
  
  > main {
    margin-bottom: 1.0rem;
  }
}